[build]
  command = ""
  publish = "."

[[redirects]]
  from = "/api/*"
  to = "https://<YOUR_API_HOST>/api/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/code"
  to = "/code.html"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
